
<header>
<h4>Welcome Admin!</h4> </header>
<nav class="top_menu">

    <a href="addpage">Add Page</a>

    <a href="editpage">Edit Page</a>

    <a href="editpage">Delete page</a>

    <a href="logout">Logout</a>
</nav>