<%- include('layouts/header'); -%>
    
<body>
    <%- include('layouts/welcome_nav'); -%>
    <br/>
    <div class="editConfirmation">
                <h2> Edit Page </h2> <br/>
                <h3> You have successfully edited the page ! </h3>
    </div>
</body>
<%- include('layouts/footer'); -%>