<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/welcome_nav'); -%>
        <br/>
        <div class="welcomeMessage">
        <h2> Welcome </h2> <br/>
        <h3> Hello Admin, Welcome to the dashboard ! </h3>
    </div>
        </body>
        <%- include('layouts/footer'); -%>
